@import './abstracts/normalize.scss';
@import './abstracts/fonts';
.container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    @media screen and (max-width: 1280px) {
        padding: 0 40px;
    }
    @media screen and (max-width: 768px) {
        padding: 0 50px;
    }
    @media screen and (max-width: 576px) {
        padding: 0 40px;
    }
    @media screen and (max-width: 360px) {
        padding: 0 20px;
    }
}
@import './components/menu';
@import './layout/header';
@import './components/title';
@import './components/blocks/start';
@import './components/blocks/about';
@import './components/blocks/information';
@import './components/blocks/smile';
@import './layout/footer';
@import './components/blocks/servises';
@import './components/blocks/health';
@import './components/blocks/life';
