@font-face {
    font-family: "Larsseit-bold";
    src: url(../fonts/Larsseit-Bold.woff) format('truetype');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Larsseit-regular";
    src: url(../fonts/Larsseit.woff) format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Larsseit-medium";
    src: url(../fonts/Larsseit-Medium.woff) format('truetype');
    font-weight: 500;
    font-display: swap;
}