.about {
    margin: 0 auto;
    padding-top: 150px;
    @media screen and (max-width: 1280px) {
        padding-top: 80px;
    }
}

.about__wrapper {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    @media screen and (max-width: 850px) {
        flex-direction: column;
    }
}

.about__title {
    font-size: 16px;
    line-height: 22px;
    color: #22356F;
    @media screen and (max-width: 850px) {
        margin-bottom: 30px;
        margin-left: 0;
        
    }
}

.about__text {
    font-family: "Larsseit-medium";
    max-width: 592px;
    color: #22356F;
    letter-spacing: 0.005em;
    -webkit-font-smoothing: antialiased;
    line-height: 34px;
    font-size: 24px;
    margin: 0 auto;
    margin-bottom: 65px;
}