.about {
    // max-width: 1440px;
    margin: 0 auto;
    padding-top: 150px;
    // padding-left: 100px;
}

.about__wrapper {
    display: flex;
    position: relative;
    // justify-content: center;
}

.about__title {
    font-size: 16px;
    line-height: 22px;
    color: #22356F;
    position: absolute;
    left: 100px;
}

.about__text {
    font-family: "Larsseit-medium";
    max-width: 592px;
    // margin-left: 225px;
    color: #22356F;
    letter-spacing: 0.005em;
    -webkit-font-smoothing: antialiased;
    line-height: 34px;
    font-size: 24px;
    margin: 0 auto;
}