.about {
    margin: 0 auto;
    padding-top: 150px;
    @media screen and (max-width: 980px) {
        padding-top: 80px;
    }
    @media screen and (max-width: 720px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.about__wrapper {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (max-width: 980px) {
        flex-direction: column;
        align-items: center;
    }
}

.about__title {
    font-size: 16px;
    line-height: 22px;
    color: #22356F;
    @media screen and (max-width: 980px) {
        margin-left: 0;
        margin-bottom: 30px;
    }
}

.about__text {
    font-family: "Larsseit-medium";
    max-width: 592px;
    color: #22356F;
    letter-spacing: 0.005em;
    -webkit-font-smoothing: antialiased;
    line-height: 34px;
    font-size: 24px;
    margin-bottom: 65px;
    margin-left: 200px;
    @media screen and (max-width: 980px) {
        margin-left: 0;
    }
}
