.health__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 480px);
    grid-template-rows: repeat(2, 480px);
    justify-content: center;
    overflow-x: auto;
    margin-bottom: 20px;
}

.health__square {
    width: 100%;
    display: flex;
}

.health__square--Physical {
    background-color: #22356F;
}

.health__square--Mental {
    background-color: #0052C1;
}

.health__square--Nutrition {
    background-color: #76B58B;
}

.health__square--gymnastics {
    background-color: #62D0DF;
}

.health__square--Crossfit {
    background-color: #DEE1FF;
}

.health__square--Aerobicsquers {
    background-color: #8F00FF;
}

.health__text {
    font-family: "Larsseit-bold";
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
}