.life {
    @media screen and (max-width: 720px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.life__wrapper {    
    display: grid;
    grid-template-columns: repeat(3, 480px);
    grid-template-rows: repeat(2, 240px);
    margin-bottom: 50px;
    justify-content: center;
    @media screen and (max-width: 1300px) {
        grid-template-columns: repeat(2, 335px);
        grid-template-rows: repeat(3, 240px);
    }
    @media screen and (max-width: 670px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    
}

.life__title {
    font-family: "Larsseit-regular";
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.03em;
    color: #22356F;
    margin-bottom: 35px;
}

.life__text {
    font-family: "Larsseit-regular";
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.03em;
    max-width: 245px;
    color: rgba(34, 53, 111, 0.5);
}

.life__block {
    padding: 60px 0px 0px 105px;
    @media screen and (max-width: 1300px) {
        padding: 35px 0px 0px 40px;
    }
    @media screen and (max-width: 670px) {
        padding: 20px 0px 0px 20px;
    }
    // @media screen and (max-width: 1024px) {
    //     padding: 60px 30px 50px 50px;
    // }
    // @media screen and (max-width: 525px) {
    //     padding: 60px 30px 0px 50px;
    // }
    // @media screen and (max-width: 420px) {
    //     padding: 60px 30px 45px 50px;
    // }
}

