.life__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    // @media screen and (max-width: 420px) {
    //     grid-template-columns: repeat(6, 360px);
    //     overflow-x: auto;
    //     width:100%;
    // }
}

.life__title {
    font-family: "Larsseit-regular";
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.03em;
    color: #22356F;
    margin-bottom: 35px;
}

.life__text {
    font-family: "Larsseit-regular";
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: rgba(34, 53, 111, 0.5);
}

.life__block {
    padding: 60px 100px 50px 105px;
    @media screen and (max-width: 1024px) {
        padding: 60px 30px 50px 50px;
    }
    @media screen and (max-width: 525px) {
        padding: 60px 30px 0px 50px;
    }
    @media screen and (max-width: 420px) {
        padding: 60px 30px 45px 50px;
    }
}

