.smile {
    position: relative;
}
.smile__wrapper {
    background-color: #22356F;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    @media screen and (max-width: 910px) {
        flex-direction: column;
        align-items: center;
    }
    @media screen and (max-width: 860px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.smile__box {
    display: flex;
    flex-grow: 1;
    
}
.smile__box-into {
    margin: 0 auto;
    padding-top: 103px;
    padding-bottom: 43px;
}

.smile__img {
    max-width: 480px;
    width: 100%;
    object-fit: cover;
    @media screen and (max-width: 1130px) {
        max-width: 380px;
    }
}

.smile__link-white {
    font-family: "Larsseit-regular";
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    
}

.smile__title {
    font-family: "Larsseit-bold";
    font-size: 64px;
    line-height: 94px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin-bottom: 75px;
    margin-top: 230px;
    @media screen and (max-width: 1130px) {
        margin-top: 80px;
    }
}

.smile__text {
    font-family: "Larsseit-medium";
    max-width: 579px;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
    margin-bottom: 70px;
    @media screen and (max-width: 1130px) {
        max-width: 380px;
    }
}

.smile__link {
    font-family: "Larsseit-bold";
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #62D0DF;
}