.smile__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22356F;
}

.smile__content {
    padding: 103px 240px 60px 180px;
    width: 100%;
}

.smile__img {
    max-width: 480px;
    width: 100%;
    object-fit: cover;
}

.smile__contact {
    max-width: 108px;
    font-family: "Larsseit-regular";
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.smile__title {
    max-width: 704px;
    font-family: "Larsseit-bold";
    font-size: 64px;
    line-height: 94px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.smile__text {
    font-family: "Larsseit-medium";
    max-width: 579px;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
    margin-bottom: 70px;
}

.smile__link {
    font-family: "Larsseit-bold";
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #62D0DF;
}