.smile {
    position: relative;
}
.smile__wrapper {
    background-color: #22356F;
    display: flex;
    justify-content: space-between;
.smile__box {
    display: flex;
    flex-grow: 1;
}
.smile__box-into {
    margin: 0 auto;
}
    // @media screen and (max-width: 1230px) {
    //     display: flex;
    //     align-items: center;
    //     gap: 30px;
    //     justify-content: center;
    // }
    // @media screen and (max-width: 880px) {
    //     flex-direction: column;
    // }
    // @media screen and (max-width: 600px) {
    //     align-items: flex-start;
    // }
}


.smile__img {
    max-width: 480px;
    width: 100%;
    object-fit: cover;
    // @media screen and (max-width: 1230px) {
    //     position: static;
    //     max-width: 40%;
    // }
}

.smile__link-white {
    font-family: "Larsseit-regular";
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    
}

.smile__title {
    font-family: "Larsseit-bold";
    font-size: 64px;
    line-height: 94px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin-bottom: 75px;
    margin-top: 230px;
    // @media screen and (max-width: 1230px) {
    //     margin-top: 100px;
    //     margin-bottom: 45px;
    //     font-size: 55px;
    // }
}

.smile__text {
    font-family: "Larsseit-medium";
    max-width: 579px;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
    margin-bottom: 70px;
    // @media screen and (max-width: 1230px) {
    //     max-width: 450px;
    //     font-size: 36px;

    // }
}

.smile__link {
    font-family: "Larsseit-bold";
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #62D0DF;
}