
.start__wrapper {
    display: flex;
    background-color: #62D0DF;
    flex-wrap: wrap;
    @media screen and (max-width: 1265px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @media screen and (max-width: 720px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.start__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
.start__box-into {
    margin: 0 auto;
}

.start__title {
    max-width: 223px;
    height: 51px;
    margin-bottom: 78px;
    margin-top: 150px;
    font-family: "Larsseit-bold";
    color: white;
}

.start__text {
    max-width: 555px;
    margin-bottom: 95px;
    color: white;
    font-family: "Larsseit-regular";
    font-size: 16px;
    line-height: 35px;
    -webkit-font-smoothing: antialiased;
    @media screen and (max-width: 1265px) {
        max-width: 665px;
        font-size: 20px;
    }
}

.start__text--bold {
    font-family: "Larsseit-bold";
    font-size: 24px;
}

.start__img {
    max-width: 525px;
    width: 100%;
    object-fit: cover;
}