.start {
    margin: 0 auto;
    // max-width: 1440px;
}

.start__wrapper {
    display: flex;
}

.start__box {
    // max-width: 1440px;
    // height: 607px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #62D0DF;
    padding-left: 180px;
}

.start__title {
    max-width: 223px;
    height: 51px;
    margin-bottom: 78px;
    margin-top: 150px;
    font-family: "Larsseit-bold";
    color: white;
}

.start__text {
    max-width: 555px;
    margin-bottom: 95px;
    color: white;
    font-family: "Larsseit-regular";
    font-size: 16px;
    line-height: 35px;
    -webkit-font-smoothing: antialiased;
}

.start__text--bold {
    font-family: "Larsseit-bold";
    font-size: 24px;
}

.start__img {
    max-width: 525px;
    width: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}