.footer {
    margin: 0 auto;
    position: relative;

}
.footer__wrapper {
    display: flex;
    flex-direction: column;
}

.footer__top {
    display: flex;


}
.footer__img {
    max-width: 570px;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
    @media screen and (max-width: 1210px) {
        max-width: 470px;
    }
    @media screen and (max-width: 980px) {
        max-width: 270px;
    }
    @media screen and (max-width: 852px) {
        max-width: 170px;
    }
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.footer__content {
    display: flex;
    align-items: center;
    max-width: 765px;
    margin: 0 auto;
    padding: 98px 40px 74px 40px;
    @media screen and (max-width: 1130px) {
        align-items: flex-start;
    }
    @media screen and (max-width: 720px) {
    padding: 20px;
    }
}

.footer__title {
    font-family: "Larsseit-bold";
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.006em;
    color: #22356F;
    margin-bottom: 50px;
}

.footer__text {
    font-family: "Larsseit-regular";
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.006em;
    color: rgba(34, 53, 111, 0.5);
    @media screen and (max-width: 1130px) {
        font-size: 18px;
    }
    @media screen and (max-width: 680px) {
        font-size: 14px;
    }
}

.footer__info {
    margin-right: 82px;
    @media screen and (max-width: 1335px) {
        margin-right: 42px;
    }
}

.footer__adress {
    margin-right: 100px;
    @media screen and (max-width: 1335px) {
        margin-right: 42px;
    }
}

.footer__row {
    background-color: #62D0DF;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 175px;
}

.footer__left-text {
    font-family: "Larsseit-bold";
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
}

.footer__mail {
    color: #006DFF;
}