.conteiner {
    height: 100vh;
    background-color: #F4F9E2;
    display: flex;
    flex-direction: column;
}

.header__top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 40px;
    // position: relative;
}

.header__btn {
    background: #62D0DF;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16px;
    font-family: "Larsseit-bold";
    // position: absolute;
    // top: 0;
    // right: 190px;
    cursor: pointer;
}

.header__top-iner {
    display: flex;
}

.header__heading {
    font-family: "Larsseit-bold";
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.035em;
    color: #22356F;
    max-width: 484px;
    margin-bottom: 74px;
}

.header__text {
    font-family: "Larsseit-regular";
    font-size: 24px;
    line-height: 42px;
    color: #22356F;
    max-width: 469px;
    margin-bottom: 58px;
}

.header__box-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header__content {
    margin-right: 140px;
}