.header {
    position: relative;
    background-color: #F4F9E2;
    overflow: hidden;
    padding: 27px 0 86px 0;
}

.header::before {
    content: "";
    display: block;
    width: 807px;
    height: 544px;
    position: absolute;
    top: 20px;
    right: 0;
    background: #EDFDFF;
    border-radius: 312.159px;
    transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);
    position: absolute;
    top: 50px;
    right: -140px;
    @media screen and (max-width: 1320px) {
        width: 670px;
        height: 370px;
    }
    @media screen and (max-width: 1110px) {
        display: none;
    }
    
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 186px;
    @media screen and (max-width: 1320px) {
        margin-bottom: 130px;
    }
    @media screen and (max-width: 680px) {
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
    }
}


.logo__link {
    font-family: "Larsseit-bold";
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: #62D0DF;
}

.header__btn {
    background: #62D0DF;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16px;
    font-family: "Larsseit-bold";
    cursor: pointer;
    z-index: 1;
}

.header__heading {
    font-family: "Larsseit-bold";
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.035em;
    color: #22356F;
    max-width: 484px;
    margin-bottom: 74px;
}

.header__text {
    font-family: "Larsseit-regular";
    font-size: 24px;
    line-height: 42px;
    color: #22356F;
    max-width: 469px;
    margin-bottom: 58px;
    @media screen and (max-width: 1110px) {
        max-width: 100%;
    }
}

.header__link-left {
    margin-right: 28px;
}

.header__links {
    display: flex;
}

.header__link {
    width: 150px;
    height: 50px;
    font-family: "Larsseit-bold";
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1em;
    color: #F9B640;
}

.header__link:hover {
    background: #F9B640;
    color: #FFFFFF;
}

.header__img {
    position: absolute;
    top: 20px;
    right: 0;
    @media screen and (max-width: 1320px) {
        max-width: 550px;
    }
    @media screen and (max-width: 1110px) {
        display: none;
    }
}